{% extends 'layout/base_staff.html' %}

{% block title %}Lập phiếu khám{% endblock %}

{% block content %}

<div class="content_staff">
    <div class="container-fluid medicine">
        <h2 class="title">PHÒNG KHÁM TƯ NHÂN HKN</h2>
        <p>Nhanh chóng - chuyên nghiệp - hiệu quả</p>
    </div>
    <div class="container">
        <h2>Danh sách bệnh nhân chờ khám </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Họ tên</th>
                <th>CCCD</th>
                <th>Địa chỉ</th>
                <th>Ngày khám</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for exam in medical_exams%}
            <tr>
                <td>{{ exam.appointment.name }}</td>
                <td>{{ exam.appointment.cccd }}</td>
                <td>{{ exam.appointment.gender }}</td>
                <td>{{ exam.appointment.calendar }}</td>
                <td style="width: 10%;">
                    <a href="{{ url_for('examination_form', appointment_id=exam.appointment_id) }}" class="btn btn-success">Lập phiếu khám</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}