{% extends 'staff_base.html' %}

{% block title %} Phiếu khám bệnh{% endblock %}

{% block content %}
   <div class=" content-side col py-3">
            <div class="content_staff mt-3">
                <div class="container-fluid medicine">
                    <h2 class="title text-center">Tra cứu thông tin thuốc</h2>
                    <p class="text-center">Chính thống - minh bạch - hiệu quả</p>
                    <div class="search-medicine">
                        <form class="form-inline">
                            <div class="input-group">
                                <input class="form-control" type="text" name="keywordmedi"
                                       placeholder="Tìm kiếm các loại thuốc...">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if kw %}
                    <div class="info-medicine">
                        {% if medicines %}
                        <div class="row">
                            {% for m in medicines %}
                            <div class="col-sm-2">
                                <div class="card">
                                    <img class="card-img-top" src="{{ m.image }}" alt="Card image"
                                         style="width:100%; height:200px; object-fit: contain;">
                                    <p class="card-title">{{ m.name|truncate(15) }}</p>

                                    <p class="card-content">Giá: {{"{:,.1f}".format(m.price)}} VND</p>
                                    <p class="card-content">Kho: {{ m.amount}}</p>
                                    <div class="card-detail">
                                        <a style="width:100%; margin-top:10px;" href="#"
                                           class="btn btn-info"
                                           onclick="addToCart({{ m.id }} , '{{ m.name }}', '{{ m.medicineUnit_id }}' )">Thêm
                                            thuốc
                                        </a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <h5>Không có sản phẩm nào !!</h5>
                        {% endif %}
                    </div>
                    {% endif%}
                </div>

                <div class="container form-phieu mt-3 ">
                    <h1 class="text-center text-dark">PHIẾU KHÁM BỆNH</h1>
                    {% if err_msg %}
                    <div class="alert alert-danger">
                        <h1>{{ err_msg }}</h1>
                    </div>
                    {% endif %}
                    <form class="mt-4 form-phieu" action="/create_prescription" method="post" onsubmit="clearInput()">
                           <div class="row">
                            <div class="form-group col-md-6 d-flex">
                                <label>ID bệnh nhân</label>
                                <input type="text" class="form-control" name="appointment_id"
                                       value="{{ appointment_id }}">
                            </div>
                            <div class="form-group col-md-6" >
                                <button class="btn btn-secondary mt-2" style="width:400px;padding:10px;" type="button">Xem lịch sử khám</button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="form-group col-md-6 d-flex">
                                <label> Ngày khám </label>
                                <input type="date" name="date" class="form-control" value="{{ calendar }}"/>
                            </div>
                            <div class="form-group col-md-6 d-flex">
                                <label> Họ tên bệnh nhân</label>
                                <input type="text" class="form-control" name="name" value="{{ name }}">
                            </div>
                        </div>




                        <div class="row mt-4">
                            <div class="form-group col-md-6  d-flex">
                                <label>Triệu chứng</label>
                                <input type="text" id="symptom-input" onkeyup="saveInput()" placeholder="Triệu chứng"
                                       name="symptom" class="form-control"/>
                            </div>
                            <div class="form-group col-md-6 d-flex">
                                <label>Chẩn đoán bệnh </label>
                                <input type="text" id="predict-input" onkeyup="saveInput()"
                                       placeholder="Dự đoán loại bệnh"
                                       name="forecast" class="form-control"/>
                            </div>
                        </div>

                        <!--            kiểm tra khác null-->
                        {% if 'cart' in session and session['cart'] %}
                        <div class=" bg-base">
                            <div class="row mt-3" style="text-align:center; font-weight:bold; font-size:18px;">
                                <div class="col-3">
                                    <p>Tên thuốc</p>
                                </div>
                                <div class="col-1">
                                    <p>Đơn vị</p>
                                </div>
                                <div class="col-2">
                                    <p>Số lượng</p>
                                </div>
                                <div class="col-6">
                                    <p>Cách dùng</p>
                                </div>
                                <div class="col-1">
                                </div>
                            </div>
                            {% for c in session['cart'].values() %}
                            <div style="display:none;">
                                <input type="text" class="form-control" name="id_medi" value="{{ c.id }} ">
                            </div>
                            <div class="mt-2 row">
                                <div class="col-3">
                                    <input type="text" class="form-control" name="name_medi" value="{{ c.name }}  ">
                                </div>
                                <div class="col-1" >
                                    <input type="text" class="form-control" name="unit_medi"
                                           value="{{ c.medicine_unit_name }}">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" name="count_medi" value="{{ c.quantity }} ">
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="usage-input" name="usage"
                                           onkeyup="saveInput()">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="bg-danger btn btn-outline-danger mt-2"
                                            onclick="deleteCart({{ c.id }})"><i
                                            class="fa fa-trash" style="color: #fff;"></i></button>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p>Không có đơn thuốc nào</p>
                        {% endif %}
                        <button type="submit" class="btn btn_addmedi mt-3">TẠO PHIẾU</button>
                    </form>


                </div>
            </div>
        </div>

{% endblock %}
