{% block content %}
<div class="sidebar1 col-auto col-md-3 col-xl-2 px-sm-2  ">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div>
            <img class="img-sidebar container"
                 src="https://png.pngtree.com/template/20210318/ourlarge/pngtree-medical-logo-template-image_501141.jpg">
        </div>
        <ul class="sidebar-item nav nav-pills flex-column pt-2 mb-sm-auto align-items-center align-items-sm-start"
            id="menu">
            <li>
                <a href="{{ url_for('pay_bill') }}" class="nav-link px-0 align-middle">
                    Hóa đơn thanh toán</a>
            </li>

            <li>
                <a href="{{ url_for('logout') }}" class="nav-link px-0 align-middle">
                    Đăng xuất </a>
            </li>

        </ul>

        <!--sign out-->
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                     class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">loser</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">


                <li><a class="dropdown-item" href="#">Profile</a></li>
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

